<%= form_for(@user_saved_chord) do |f| %>
  <% if @user_saved_chord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_saved_chord.errors.count, "error") %> prohibited this user_saved_chord from being saved:</h2>

      <ul>
      <% @user_saved_chord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :chord_id %><br>
    <%= f.number_field :chord_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
