<p id="notice"><%= notice %></p>

<h1>Listing User Saved Chords</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Chord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_saved_chords.each do |user_saved_chord| %>
      <tr>
        <td><%= user_saved_chord.user_id %></td>
        <td><%= user_saved_chord.chord_id %></td>
        <td><%= link_to 'Show', user_saved_chord %></td>
        <td><%= link_to 'Edit', edit_user_saved_chord_path(user_saved_chord) %></td>
        <td><%= link_to 'Destroy', user_saved_chord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User saved chord', new_user_saved_chord_path %>
