<div class="jumbotron">
  <div class="container centered">
    <a href="/"><span class='brand-font'>Chord Explorer</span></a>
    <% if logged_in? %>
    <%= link_to "Log out", { controller: :sessions, action: :destroy, id: session[:user_id] }, method: :delete %>
    <% end %>

  </div>
</div>

<div class='container-fluid white'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h2 id="spinner">Chords</h2>

        <ul class='nav nav-tabs'>
          <li><a href='#achords'>A Chords</a></li>
          <li><a href='#bchords'>B Chords</a></li>
          <li><a href='#cchords'>C Chords</a></li>
          <li><a href='#dchords'>D Chords</a></li>
          <li><a href='#echords'>E Chords</a></li>
          <li><a href='#fchords'>F Chords</a></li>
          <li><a href='#gchords'>G Chords</a></li>
        </ul>

        <div class='tab-content'>
          <div class='tab-pane fade active' id='achords'>
            <% @achords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class='tab-pane fade' id='bchords'>
            <% @bchords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class='tab-pane fade' id='cchords'>
            <% @cchords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class='tab-pane fade' id='dchords'>
            <% @dchords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class='tab-pane fade' id='echords'>
            <% @echords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class='tab-pane fade' id='fchords'>
            <% @fchords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class='tab-pane fade' id='gchords'>
            <% @gchords.each do |chord| %>
              <div class="inline-chords">
                <ul class="list-unstyled">
                  <li><%= render html: chord.render_chord.html_safe %></li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
