<p id="spinner">
  <strong>Name:</strong>
  <%= @chord.name %>
</p>

<p>
  <strong>Display card:</strong>
  <%= render html: @chord.render_chord.html_safe %>
</p>

<p>
  <strong>Family:</strong>
  <%= @chord.family %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @chord.frequency %>
</p>

<%= link_to 'Back', chords_path %>
