</div>
    <div class="row">
      <div class="container-fluid white">
        <div class="container">
          <h2>Welcome, <%=@user.username%></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid white">
        <div class="container">
          <div class="saved_chords col-lg-5">
            <h3> Chords You Know </h3>
            <% if @user_saved_chords %>
              <% @user_saved_chords.each do |user_saved_chord| %>
                <div class='inline-chords'>
                  <%= user_saved_chord.name %><br>
                  <%= render html: user_saved_chord.render_chord.html_safe %></li><br>
                </div>
              <% end %>
            <% else %>
              <p>You currently have no saved chords!</p>
            <% end %>
          </div>
          <div class="saved_songs col-lg-7">
            <h3> Saved Songs </h3>
            <% if @user_saved_songs  %>
              <table class="table table-condensed">
              <% @user_saved_songs.each do |song| %>
                <tr>
                  <td><h4>"<%= song.title %>"</h4></td>
                  <td><i><%= song.artist %></i></td>
                <% song.tabs.each do |tab| %>
                  <%=tab.domain.scan(/(?<=www\.).*(?=\.com)/)[0]%>
                  <%if tab.rating%>
                    <td>Rating: <%=tab.rating%></td>
                  <%end%>
                  <td>Contains: <%=tab.show_chords.join(", ")%></td>
                </tr>
                <tr>
                  <td colspan="3">
                  <% tab.chords.each do |chord| %>
                  <div class="inline-chords">
                    <%= render html: chord.render_chord.html_safe %>
                  </div>
                  <% end %>
                </td>
                <% end %>
                </tr>
              <% end %>
              </table>
            <% else %>
              <p>You currently have no saved songs!</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="recommended_chord">
        <div class="container-fluid white">
          <div class="container">
            <h3>Next recommended chord</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>