</div>
    <div class="row">
      <div class="container-fluid white">
        <div class="container">
          <h2>Welcome, <%=@user.username%></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid white">
        <div class="container"  id="chords-you-know">
          <div class="saved_chords col-lg-12">
            <h3> Chords You Know </h3>
            <% if @saved_chords %>
              <% @saved_chords.each do |user_saved_chord| %>
                <div class='inline-chords'>
                  <%= user_saved_chord.name %><br>
                  <%= render html: user_saved_chord.render_chord.html_safe %></li><br>

                    <button class="remove-saved-chords-button btn btn-link btn-xs" id=<%= @user.user_saved_chords.find_by(chord_id: user_saved_chord.id).id %>>Remove from repertoire</button>

                </div>
              <% end %>
            <% else %>
              <p>You currently have no saved chords!</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="recommended_chord">
        <div class="container-fluid white">
          <div class="container">
            <h3>Next recommended chord</h3>
            <% chord = Chord.recommend(@saved_chords) %>
            <div class='inline-chords'>
              <%= chord.name %><br>
              <%= render html: chord.render_chord.html_safe %></li><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
