<p id="notice"><%= notice %></p>

<h1>Listing User Songs</h1>

<table>
  <thead>
    <tr>
      <th>Difficulty</th>
      <th>Saved</th>
      <th>User</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_songs.each do |user_song| %>
      <tr>
        <td><%= user_song.difficulty %></td>
        <td><%= user_song.saved %></td>
        <td><%= user_song.user_id %></td>
        <td><%= user_song.song_id %></td>
        <td><%= link_to 'Show', user_song %></td>
        <td><%= link_to 'Edit', edit_user_song_path(user_song) %></td>
        <td><%= link_to 'Destroy', user_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User song', new_user_song_path %>
