<p id="notice"><%= notice %></p>

<p>
  <strong>Difficulty:</strong>
  <%= @user_song.difficulty %>
</p>

<p>
  <strong>Saved:</strong>
  <%= @user_song.saved %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_song.user_id %>
</p>

<p>
  <strong>Song:</strong>
  <%= @user_song.song_id %>
</p>

<%= link_to 'Edit', edit_user_song_path(@user_song) %> |
<%= link_to 'Back', user_songs_path %>
