<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <%= image_tag "guitar-logo-blue.png", :class => "style_logo" %>
    <li class="sidebar-brand">
      <a id="overlay" href="/">
        Chord Explorer
      </a>
    </li>
    <% if logged_in? %>
    <li>
      <%= link_to "Profile", user_path(session[:user_id]), id: "profile", remote: true %>
    </li>
    <li>
      <%= link_to "Log out", { controller: :sessions, action: :destroy, id: session[:user_id] }, method: :delete %>
    </li>
    <% else %>
    <li>
      <%= link_to "Sign Up", new_user_path, id: "register" %>
    </li>
    <li>
      <%= link_to "Log in", login_path %>
    </li>
    <% end %>

    <% if logged_in? %>
      <button id="add-saved-chords-button" class="btn btn-success well-buttons">Search My Chords</button>
    <% end %>

    <li>
      <p>Type the chords you want to search here!</p>
    </li>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <form id="add-to-well">
          <input id="sidebar-value" type="text" name="chords-to-add">
          <input id="sidebar-submit" type="submit" value="Submit" style="display:none;">
        </form>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

      </div>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              A Chords
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="list-group">
            <% @achords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              B Chords
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="list-group">
            <% @bchords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed  <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              C Chords
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="list-group">
            <% @cchords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed  <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              D Chords
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="list-group">
            <% @dchords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed  <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              E Chords
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="list-group">
            <% @echords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed  <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              F Chords
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="list-group">
            <% @fchords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed  <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed chord-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              G Chords
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="list-group">
            <% @gchords.each do |chord| %>
              <button type="button" id="<%= chord.escaped_name %>" class="btn btn-default unpressed  <%= chord.escaped_name %>" data-toggle="button" aria-pressed="false" autocomplete="off">
                <%= chord.name %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <li>
      <a id="chords" href="/chords">All Chords</a>
    </li>
  </ul>
</div>
<div id="wrapper">
  <div class="foreground js-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-sm-offset-4 col-md-8 col-md-offset-3 col-lg-9 col-lg-offset-2">
          <h1>Welcome to </h1>
            <span class='brand-font'>Chord Explorer</span>
            <a href="#close" class="js-closeToggle">click me</a>
          <div id="intro-content">
            <p>Chord Explorer is an innovative tool that helps you learn how to play guitar and intuitively expand your repitoire. It allows you to increase your current music knowledge by introducing you to songs that match your current skill level and chord toolbag.</p>

            <p>In order to get started, enter chords you are familiar with in the searchbar in the left panel, or select the chords from the given dropdown options. Once you have selected each of the chords you want included in your search, click "Find Tabs" to get your custom list of songs!</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="row">
      <div class='col-md-9'>
        <div id="added_chords">
        </div>
      </div>
      <div class='col-sm-12 col-md-3'>
        <%= form_tag(tabs_index_path, :controller => "tabs", :method => "get", id: "hiddensearch", remote: true) do %>
          <%= hidden_field_tag :search %>
          <%= submit_tag "Find Tabs", id: "submit-tag", class: "btn btn-info well-buttons" %>
        <% end %>
        <button id="clear-well-button" class="btn btn-info well-buttons">Clear These Chords</button>
        <% if logged_in? %>
          <%= form_tag(user_saved_chords_path, :controller => "user_saved_chords", :method => "post", id: "save-chords-form", remote: true) do %>
          <%= hidden_field_tag :save_chords %>
            <%= submit_tag "Save These Chords", id: "save-chords-button", class: "btn btn-info well-buttons" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="background">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
          <span class='brand-font watermark'>Chord Explorer</span>
          <div id="backpage">
            <div class="profile">
              <% if @current_user %>
                <%= render partial: "profile", :locals => {:user => @user} %>
              <% end %>
            </div>
            <div class="chords">
            </div>
            <div id="results">
              <div id="spinner"></div>
              <% if @tabs %>

              <% else %>
                <h3>...</h3>
              <% end %>
            </div>
            <div class="register">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
