<p id="notice"><%= notice %></p>

<h1>Listing Included Chords</h1>

<table>
  <thead>
    <tr>
      <th>Chord</th>
      <th>Tab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @included_chords.each do |included_chord| %>
      <tr>
        <td><%= included_chord.chord_id %></td>
        <td><%= included_chord.tab_id %></td>
        <td><%= link_to 'Show', included_chord %></td>
        <td><%= link_to 'Edit', edit_included_chord_path(included_chord) %></td>
        <td><%= link_to 'Destroy', included_chord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Included chord', new_included_chord_path %>
