<h1>Results</h1>
<% tabs_keys_paginatable.each do |song|  %>
  <div class="container">
    <h3>"<%= song.title %>"</h3>
    <h4><i><%= song.artist %></i></h4>
      <br>

    <% tabs[song].each do |tab| %>
      <div class="container">
        <%if tab.rating%>
          Rating: <%=tab.rating%>
          <br>
        <%end%>
        <a target="_blank" href='<%= tab.url %>'><%=tab.domain.capitalize%></a> - <%=tab.show_chords.join(", ") %>
        <br>
        <!-- <%=tab.domain.scan(/(?<=www\.).*(?=\.com)/)[0]%><br> -->
        <ul class="list-inline">
        <% tab.chords.each do |chord| %>
          <div class="inline-chords">
            <li><%= chord.render_chord.html_safe %></li>
          </div>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
<div id="paginator">
  <%= paginate @tabs_keys_paginatable, :remote => true %>
</div>
